.bebrosic{
    margin-left: 375px;
}
.main-body{
    .orange-line{
        height: 80px;
        background-color: rgb(214, 142, 28);
        
        h1{
            padding-top: 15px;
            margin-left: 480px;
            font-size: 36px;
        }
    }
    .account-body{
        margin-top:20px ;
        text-align: center;
        h2{
            padding-bottom:20px ;
            font-size: 25px;
            border-bottom: 1px solid rgb(214, 142, 28);
        }
    }
    .account-wrapper{
        display: flex;
    .account{
        margin-top: 50px;
        margin-left: 480px;
        .input{
            padding-bottom: 15px;
            display: flex;
        }
        h3{
            width: 80px;
            margin-right: 15px;
            font-weight: 700;
            font-size: 16px;
        }
        input{
            height: 46px;
            width: 300px;
            padding: 10px 16px;
            border-radius: 10px;
        }
        button{
            width: 100%;
        }
    }
    .projects{
        display: grid;
        grid-template-columns: 200px 200px 200px;
        gap: 45px;  
        width: 900px;
        margin-top: 50px;
        .project{
            margin-left: 45px;
            width: 250px;

            text-align: center;
            img{
                width: 180px;
            }
            p{
                margin: 5px;
            }
            div {
                button{
                    margin-bottom: 10px;
                    padding: 5px 5px;
                    height: 40px;
                    width: 120px;
                }
                i {
                    color: red;
                    margin-left: 15px;
                    &:hover {
                        border-radius: 5px;
                        padding: 10px;
                        background-color: red;
                        color: aliceblue;
                        cursor: pointer;
                    }
                }
            }
            
        }
}
}
}